<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <img src="../static/Images/brickBeaker_Logo.png" alt="">
        {% if isNew != True %}
        <div class="loginForm">
            <form action="index" method="POST">
                {% csrf_token %}
                <div class="paddleInput">
                    <input type="text" name="userName" placeholder="Nom d'utilisateur">
                </div>
                <div class="paddleInput">
                    <input type="password" name="password" placeholder="Mot de passe">
                </div>
                <button type="submit" class="brickValidation">Valider</button>
            </form>
        </div>
        {% if passError == True %}
        <p> Mot de pass erroné</p>
        {% endif%}
        {% else %}
            <div class="LoginForm">
                <form action="index" method="POST">
                    {% csrf_token %}
                    <p>Voulez vous creer un compte ?</p>
                    <button type="submit" name="oui">Oui</button>
                    <button type="submit" name="non">Non</button>
                </form>
            </div>
        {%endif%}
    </body>
</html>